@media screen and (max-width: 1050px) {
  img {
    width: 100%;
  }
  
  body {
    height: 100%;
  }

  .product-img {
    height: 100px;
    width: 100%;
    display: grid;
  }

  h2 a {
    display: inline;
  }

  .mapa-cnt {
    width: 100%;
    overflow: hidden;
  }

  .images-div img {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  }

  .images-div p{
    display: flex;
  }

  .gallery {
    display: grid;
  }
}

@media only screen and (max-width: 600px) {
  .product-img {
    width: 100%;
    display: grid;
  }

.images-div img {
  display: none;
}
.video{
  width: 100%;
  height: 450px;
}
}